<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render(partial: "api/users/user", formats:[:json], locals:{user: current_user}).html_safe %>
  </script>
<% end %>

<main id="root">React is broke!</main>