
.footer-box{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  background: white;
}

.social-links{
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}