.footer-page{
  background-color: white;
  height: 100%;
  margin: auto;
  max-width: 1360px;
}
.footer-box{
  
  padding: 48px 0px;
  max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.footer-links{
 margin-bottom: 1000px;
 display: flex;
  // justify-content: space-between; 
  margin: auto;
  padding: 0px 18px;
}

.social-name{
  font-size: 14px;
  margin-left: 25px;
  margin-top: 5px;
}

.social-links{
  // margin-right: 450px;
  margin-left: 5px;
  margin-bottom: 30px;
}


.social-links a{
  margin: 0px 10px;
  font-size: 20px;
  
}
.social-links a:hover{
  color: #028858;
}

