.nav-bar{
  display: flex;
  justify-content: space-between;

}

.nav-header{
  color:  #05ce78;
  font-size: 25px;
}

.nav-right{
  display: flex;
  padding: 5px;
}

.nav-right{
  display: flex;
  padding: 5px;
}

