.nav-bar{
  display: flex;
  justify-content: space-between;
  background: white;
  // border-bottom: 0.1rem solid #E8E8E8;
  margin: auto;
  width: 1360px;
}
.nav-box{
  display: flex;
  padding: 10px;
  margin: 10px;
}

.nav-header{
  // font-family: 'Londrina Solid', cursive;
  font-family: 'Luckiest Guy', cursive;
  color:  #05ce78;
  font-size: 35px;
  font-weight: 900;
  padding: 10px;
  margin: 10px;
}

.nav-item{
  padding: 10px;
  font-size: 14px;
  margin-right: 12px;
}

.nav-item:hover{
  color:  #028858;
}

.header-button{
  cursor: pointer;
}


.header-group{

}

.header-name{

}




