.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.modal-child {
  position: relative;
  top: 7%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.profile-box{
  position: absolute;
  background: white;
  border: gray solid 1px;
  padding: 15px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  font-family: Arial;
  color: black;
  width: 900px;
  height: 300px;
  top: 25px;
  right: 0px;

}

.profile-content{
  display: flex;
  justify-content: space-between;
}
.profile-footer{
  margin: 24px 36px 0px 36px;
  padding: 24px 0px;
  border-top: 0.1rem solid #DCDEDD;
  font-size:  14px;
}

.profile-section{
  padding: 24px 36px 0px;
}

.profile-subsection{
  position:relative;
  font-size: 14px;
  padding-top: 36px;
  padding-bottom: 18px;
}
.profile-subsection li{
  padding: 5px;
}

.profile-new-project-container{
  display: flex;
  flex-direction: column;
  padding: 18px 0px;
  width: 100%;
  transition: all 0.3s;
  background-image: linear-gradient(to right, transparent 51%, blue 49%);
  background-position: 0 0;
  background-size: 200%;
  color: #4C6CF8;
}

.profile-new-project-container:hover{
  color: white;
  fill: white;
  transform: translateY(-1px);
  background-image: linear-gradient(to right, transparent 50%, blue 50%);
  background-position: -100% 0;
}
.profile-new-project-container div{
  display: flex;
}
.profile-new-project-container div > * {
  padding: 5px;
}


.dropdown-subtitle{
  font-size: 14px;
  color: #282828;
}

.profile-backed-container{

}

.small-img{
  width: 52px;
  height: 30px
}

.profile-created-project{
  display: flex;
}

.profile-created-project span:hover{
  color: #028858;
}