.category-links-container{
  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.category-links{
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 850px;
  padding: 28px;
}
.category-links li{
  font-size: 16px;
}
.category-links li:hover{
  color: #028858;
  text-decoration: underline;
}

#featured-project{
  padding: 15px;
  background-color: white;
}
#featured-project li{
  margin:auto;
  display: flex;
  flex-direction: column;
}

#featured-project li ul{
  
}

#featured-project img{
  width: 625px;
  max-height: 350px;
  padding: 15px;
}




.projects-list-container{
  border-bottom: 1px solid lightgray;
  background-color: white;
}


.project-list-item{
  display: flex;
  padding: 15px;
}
.project-list-item img{
  width: 170px;
  max-height: 100px;
  padding: 5px;
}

.project-list-item ul li{
  margin-bottom: 6px;
}


.project-list-link:hover{
  text-decoration: underline;
  color: #028858;
}

.project-list-link{
  font-size: 14px;
}

.project-list-funding{
  color: #028858;
  font-size: 12px;
}

.project-list-creator{
  font-size: 12px;
}
