.reward-page-container{
  margin: auto;
  width: 1300px;
  padding: 25px;
}

.reward-page-project-title{
  font-size: 24px;
  margin-bottom: 18px;
  text-align: center;
  strong{
    padding-left: 5px;
  }
  strong:hover{
    text-decoration: underline;
  }
}

.rewards-page-list{

}
.rewards-page-none{
  font-size: 20px;
  width: 80%;
  padding-top:10px;
  margin: auto;
}

.reward-page-item{
  padding: 10px;
  width: 80%;
  margin: auto;
  border-bottom: 0.1rem solid #E8E8E8;
  font-size: 14px;
}
.reward-page-item-details{
  display: flex;
  flex-direction: column;
  li{
    padding: 2px;
    strong{
      font-weight: bold;
    }
  }
}

.reward-page-item-delete{
  margin-left: 15px;
  margin-top: 10px;
  width: 50px;
  cursor: pointer;
  color: white;
  background-color: red;
  padding: 12px 25px;
  font-size: 14px;
  border-style: none;
  text-align: center;
}

.reward-page-item-delete:hover{
  background-color:rgb(104, 3, 3)
}


.new-reward-container{
  padding-top: 45px;
  margin: auto;
  width: 25%;
}

.new-reward-form{

}

.new-reward-title{
  font-size: 24px;
  padding-bottom:10px;
}

.new-reward-button{
  display: block;
  cursor: pointer;
  color: white;
  background-color: #028858;
  padding: 12px 25px;
  font-size: 14px;
  border-style: none;
  text-align: center;
  width: 100px;
  margin-top: 5px;
}


.new-reward-button:hover{
  background-color:#015738
}